@model IEnumerable<Models.Usuario>

@{
    ViewData["Title"] = "Lista de Usuarios";
}

<h1>Lista de Usuarios</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Crear Nuevo Usuario</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NombreUsuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RolId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RolId)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.NombreUsuario" class="btn btn-warning">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.NombreUsuario" class="btn btn-info">Detalles</a>
                    <a asp-action="Delete" asp-route-id="@item.NombreUsuario" class="btn btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
