@model IEnumerable<Models.DetallesOrden>

@{
    ViewData["Title"] = "Órdenes de ventas";
}

<h1>Órdenes de ventas</h1>

<table class="table">
    <thead>
        <tr>
            <th>Número de orden</th>
            <th>Fecha</th>
            <th>Nombre del cliente</th>
            <th>Correo de usuario</th>
            <th>Producto</th>
            <th>Cantidad</th>
            <th>Precio</th>
            <th>Total</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var detalle in Model)
        {
            <tr>
                <td>@detalle.OrdenId</td>
                <td>@detalle.Orden?.OrdenFecha?.ToString("yyyy-MM-dd")</td>
                <td>@(detalle.Orden?.Cliente != null ? $"{detalle.Orden.Cliente.Nombre} {detalle.Orden.Cliente.Apellido}" : "No asignado")</td>
                <td>@(detalle.Orden?.Cliente != null ? detalle.Orden.Cliente.NombreUsuario : "No asignado")</td>
                <td>@detalle.Producto?.Descripcion</td>
                <td>@detalle.Cantidad</td>
                <td>@detalle.Precio</td>
                <td>@((detalle.Cantidad ?? 0) * (detalle.Precio ?? 0))</td>
                <td>
                    @if (detalle.Orden.EstadoId == 3) // Verifica si el estado es pendiente
                    {
                        <form asp-action="Despachar" method="post">
                            <input type="hidden" name="ordenId" value="@detalle.OrdenId" />
                            <button type="submit" class="btn btn-success">Despachar</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script>
        function mostrarCampoBusqueda() {
            // Ocultar todos los campos
            document.querySelectorAll('.campo-busqueda').forEach(function (campo) {
                campo.style.display = 'none';
            });

            // Mostrar el campo seleccionado
            var criterio = document.getElementById('criterioBusqueda').value;
            if (criterio === 'numeroOrden') {
                document.getElementById('campoNumeroOrden').style.display = 'block';
            } else if (criterio === 'correoUsuario') {
                document.getElementById('campoCorreoUsuario').style.display = 'block';
            } else if (criterio === 'fecha') {
                document.getElementById('campoFecha').style.display = 'block';
            } 
        }
    </script>
}
