@model IEnumerable<Models.Producto>

@{
    ViewData["Title"] = "Lista de Productos";
}

<h1>Lista de Productos</h1>

<form method="get" asp-action="Lista">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="searchQuery">Buscar Producto:</label>
            <input type="text" id="searchQuery" name="searchQuery" class="form-control" placeholder="Ingrese palabra clave" value="@ViewData["searchQuery"]" />
        </div>
        <div class="form-group col-md-4">
            <label for="filter">Filtrar por:</label>
            <select id="filter" name="filter" class="form-control">
                <option value="">Seleccionar...</option>
                <option value="nombre">Nombre</option>
                <option value="categoria">Categoría</option>
                <option value="talla">Talla</option>
                <option value="marca">Marca</option>
            </select>
        </div>
        <div class="form-group col-md-2 align-self-end">
            <button type="submit" class="btn btn-primary">Buscar</button>
        </div>
    </div>
</form>

<form asp-action="Lista" method="get">
    <div class="form-group">
        <label for="sortOrder">Ordenar por:</label>
        <select id="sortOrder" name="sortOrder" class="form-control" onchange="this.form.submit()">
            <option value="">Seleccionar...</option>
            <option value="price_asc">Precio: Menor a Mayor</option>
            <option value="price_desc">Precio: Mayor a Menor</option>
            <option value="recent">Más reciente</option>
        </select>
    </div>
</form>

<div class="container">
    <div class="row">
        @foreach (var producto in Model)
        {
            <div class="col-md-3 col-sm-6">
                <div class="card mb-4 shadow-sm">
                    <a asp-action="Details" asp-route-id="@producto.ProductoId">
                        <img src="@producto.Imagen" class="card-img-top" alt="@producto.Descripcion" />
                    </a>
                    <div class="card-body">
                        <h5 class="card-title">@producto.Descripcion</h5>
                        <p class="card-text">Precio: ₡ @producto.Precio</p>
                        <form method="post" asp-action="AgregarAlCarrito" asp-controller="Productos">
                            <input type="hidden" name="productoId" value="@producto.ProductoId" />
                            <button type="submit" class="btn btn-success">Agregar al Carrito</button>
                        </form>
                        <a asp-action="Details" asp-route-id="@producto.ProductoId" class="btn btn-primary">Ver Detalles</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<style>
    .card {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .card-img-top {
        width: 100%;
        height: 200px;
        object-fit: contain;
    }

    .card-body {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .card-title, .card-text, .btn-primary {
        margin-bottom: 10px; /* Espaciado entre elementos */
    }
</style>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}



